<!--
  Generated template for the ChatDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{selectedItem.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h5>{{selectedItem.title}}: {{selectedItem.note}}</h5>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
    <ion-input type="text"></ion-input>
  </ion-item>
    <ion-buttons end>
      <button ion-button icon-end color="royal">
        Enviar
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
