<ion-header>
  <ion-navbar>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
  <ion-item>
    <ion-input type="text" placeholder="Usuario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="Contra"></ion-input>
  </ion-item>
</ion-list>
<div padding>
  <button ion-button block (click)="login()">Entrar</button>
</div>
<div padding>
  <button ion-button block (click)="register()">Registrarme</button>
</div>
</ion-content>
