<!--
  Generated template for the ChatsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-toolbar padding>
		<ion-searchbar (input)="getItems($event)"></ion-searchbar>
		<ion-buttons end>
			<button ion-button icon-only (click)='onDismiss()'>
				<ion-icon name="add"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>

</ion-header>


<ion-content>

  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-avatar item-start>
        <img src="../../assets/imgs/oe.png">
      </ion-avatar>
      <h2>{{item.title}}</h2>
      <p>{{item.note}}</p>
    </button>
  </ion-list>

</ion-content>
